


/* Headings Fonts variables */
$font-accident-one-bold:          'Century Gothic', sans-serif;
$font-accident-one-normal:        'Century Gothic', sans-serif;
$font-accident-two:               'Century Gothic', sans-serif;
$font-regular:                    'Century Gothic', sans-serif;

/* Heading font one */
.font-accident-one-bold           {  font-family: $font-accident-one-bold;  font-weight: 700;  font-style: normal;  }
.font-accident-one-normal         {  font-family: $font-accident-one-normal;  font-weight: 400;  font-style: normal;  }

/* Heading font two */
.font-accident-two-normal         {  font-family: $font-accident-two;  font-style: normal;  }
.font-accident-two-oblique        {  font-family: $font-accident-two;  font-style: oblique;  }
.font-accident-two-bold           {  font-family: $font-accident-two;  font-weight: bold ;  }
.font-accident-two-bold-italic    {  font-family: $font-accident-two;  font-weight: bold;  font-style: oblique;  }

/* Regular font */
.font-regular-light               {  font-family: $font-regular;  font-weight: 400;  font-style: normal;  }
.font-regular-normal              {  font-family: $font-regular;  font-weight: 400;  font-style: normal;  }
.font-regular-bold                {  font-family: $font-regular;  font-weight: 700;  font-style: normal;  }

/* Headings */
h1 {}
h2 {}
h3 {letter-spacing: 3px;}
h4 {}
h5 {}
h6 {}

/* Letter spacing */
.letter-spacing-03 {letter-spacing: 3px;}

/* Paragraphs */
.small {font-size: 12px;}
.extrasmall {font-size: 10px;}
.superheading {  font-size: 48px;  }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}